<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>identifier</key>
	<string>Emoji</string>
	<key>type</key>
	<integer>1</integer>
	<key>titleString</key>
	<string>系统表情</string>
	<key>iconURLString</key>
	<string>EmotionsEmojiHL</string>
	<key>emotions</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression1</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>微笑</string>
			<key>localURLString</key>
			<string>Expression_1</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression2</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>撇嘴</string>
			<key>localURLString</key>
			<string>Expression_2</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression3</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>色</string>
			<key>localURLString</key>
			<string>Expression_3</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression4</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>发呆</string>
			<key>localURLString</key>
			<string>Expression_4</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression5</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>得意</string>
			<key>localURLString</key>
			<string>Expression_5</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression6</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>流泪</string>
			<key>localURLString</key>
			<string>Expression_6</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression7</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>害羞</string>
			<key>localURLString</key>
			<string>Expression_7</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression8</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>闭嘴</string>
			<key>localURLString</key>
			<string>Expression_8</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression9</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>睡</string>
			<key>localURLString</key>
			<string>Expression_9</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression10</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>大哭</string>
			<key>localURLString</key>
			<string>Expression_10</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression11</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>尴尬</string>
			<key>localURLString</key>
			<string>Expression_11</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression12</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>发怒</string>
			<key>localURLString</key>
			<string>Expression_12</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression13</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>调皮</string>
			<key>localURLString</key>
			<string>Expression_13</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression14</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>呲牙</string>
			<key>localURLString</key>
			<string>Expression_14</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression15</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>惊讶</string>
			<key>localURLString</key>
			<string>Expression_15</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression16</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>难过</string>
			<key>localURLString</key>
			<string>Expression_16</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression17</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>酷</string>
			<key>localURLString</key>
			<string>Expression_17</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression18</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>冷汗</string>
			<key>localURLString</key>
			<string>Expression_18</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression19</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>抓狂</string>
			<key>localURLString</key>
			<string>Expression_19</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression20</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>吐</string>
			<key>localURLString</key>
			<string>Expression_20</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression21</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>偷笑</string>
			<key>localURLString</key>
			<string>Expression_21</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression22</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>愉快</string>
			<key>localURLString</key>
			<string>Expression_22</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression23</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>白眼</string>
			<key>localURLString</key>
			<string>Expression_23</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression24</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>傲慢</string>
			<key>localURLString</key>
			<string>Expression_24</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression25</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>饥饿</string>
			<key>localURLString</key>
			<string>Expression_25</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression26</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>困</string>
			<key>localURLString</key>
			<string>Expression_26</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression27</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>惊恐</string>
			<key>localURLString</key>
			<string>Expression_27</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression28</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>流汗</string>
			<key>localURLString</key>
			<string>Expression_28</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression29</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>憨笑</string>
			<key>localURLString</key>
			<string>Expression_29</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression30</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>悠闲</string>
			<key>localURLString</key>
			<string>Expression_30</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression31</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>奋斗</string>
			<key>localURLString</key>
			<string>Expression_31</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression32</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>咒骂</string>
			<key>localURLString</key>
			<string>Expression_32</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression33</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>疑问</string>
			<key>localURLString</key>
			<string>Expression_33</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression34</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>嘘</string>
			<key>localURLString</key>
			<string>Expression_34</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression35</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>晕</string>
			<key>localURLString</key>
			<string>Expression_35</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression36</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>疯了</string>
			<key>localURLString</key>
			<string>Expression_36</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression37</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>衰</string>
			<key>localURLString</key>
			<string>Expression_37</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression38</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>骷髅</string>
			<key>localURLString</key>
			<string>Expression_38</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression39</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>敲打</string>
			<key>localURLString</key>
			<string>Expression_39</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression40</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>再见</string>
			<key>localURLString</key>
			<string>Expression_40</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression41</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>擦汗</string>
			<key>localURLString</key>
			<string>Expression_41</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression42</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>抠鼻</string>
			<key>localURLString</key>
			<string>Expression_42</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression43</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>鼓掌</string>
			<key>localURLString</key>
			<string>Expression_43</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression44</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>糗大了</string>
			<key>localURLString</key>
			<string>Expression_44</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression45</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>坏笑</string>
			<key>localURLString</key>
			<string>Expression_45</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression46</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>左哼哼</string>
			<key>localURLString</key>
			<string>Expression_46</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression47</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>右哼哼</string>
			<key>localURLString</key>
			<string>Expression_47</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression48</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>哈欠</string>
			<key>localURLString</key>
			<string>Expression_48</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression49</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>鄙视</string>
			<key>localURLString</key>
			<string>Expression_49</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression50</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>委屈</string>
			<key>localURLString</key>
			<string>Expression_50</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression51</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>快哭了</string>
			<key>localURLString</key>
			<string>Expression_51</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression52</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>阴险</string>
			<key>localURLString</key>
			<string>Expression_52</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression53</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>亲亲</string>
			<key>localURLString</key>
			<string>Expression_53</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression54</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>吓</string>
			<key>localURLString</key>
			<string>Expression_54</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression55</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>可怜</string>
			<key>localURLString</key>
			<string>Expression_55</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression56</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>菜刀</string>
			<key>localURLString</key>
			<string>Expression_56</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression57</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>西瓜</string>
			<key>localURLString</key>
			<string>Expression_57</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression58</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>啤酒</string>
			<key>localURLString</key>
			<string>Expression_58</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression59</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>篮球</string>
			<key>localURLString</key>
			<string>Expression_59</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression60</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>乒乓</string>
			<key>localURLString</key>
			<string>Expression_60</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression61</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>咖啡</string>
			<key>localURLString</key>
			<string>Expression_61</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression62</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>饭</string>
			<key>localURLString</key>
			<string>Expression_62</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression63</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>猪头</string>
			<key>localURLString</key>
			<string>Expression_63</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression64</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>玫瑰</string>
			<key>localURLString</key>
			<string>Expression_64</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression65</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>凋谢</string>
			<key>localURLString</key>
			<string>Expression_65</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression66</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>嘴唇</string>
			<key>localURLString</key>
			<string>Expression_66</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression67</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>爱心</string>
			<key>localURLString</key>
			<string>Expression_67</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression68</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>心碎</string>
			<key>localURLString</key>
			<string>Expression_68</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression69</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>蛋糕</string>
			<key>localURLString</key>
			<string>Expression_69</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression70</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>闪电</string>
			<key>localURLString</key>
			<string>Expression_70</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression71</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>炸弹</string>
			<key>localURLString</key>
			<string>Expression_71</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression72</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>刀</string>
			<key>localURLString</key>
			<string>Expression_72</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression73</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>足球</string>
			<key>localURLString</key>
			<string>Expression_73</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression74</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>瓢虫</string>
			<key>localURLString</key>
			<string>Expression_74</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression75</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>便便</string>
			<key>localURLString</key>
			<string>Expression_75</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression76</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>月亮</string>
			<key>localURLString</key>
			<string>Expression_76</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression77</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>太阳</string>
			<key>localURLString</key>
			<string>Expression_77</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression78</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>礼物</string>
			<key>localURLString</key>
			<string>Expression_78</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression79</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>拥抱</string>
			<key>localURLString</key>
			<string>Expression_79</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression80</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>强</string>
			<key>localURLString</key>
			<string>Expression_80</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression81</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>弱</string>
			<key>localURLString</key>
			<string>Expression_81</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression82</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>握手</string>
			<key>localURLString</key>
			<string>Expression_82</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression83</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>胜利</string>
			<key>localURLString</key>
			<string>Expression_83</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression84</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>抱拳</string>
			<key>localURLString</key>
			<string>Expression_84</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression85</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>勾引</string>
			<key>localURLString</key>
			<string>Expression_85</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression86</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>拳手</string>
			<key>localURLString</key>
			<string>Expression_86</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression87</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>差劲</string>
			<key>localURLString</key>
			<string>Expression_87</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression88</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>爱你</string>
			<key>localURLString</key>
			<string>Expression_88</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression89</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>NO</string>
			<key>localURLString</key>
			<string>Expression_89</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression90</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>OK</string>
			<key>localURLString</key>
			<string>Expression_90</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression91</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>爱情</string>
			<key>localURLString</key>
			<string>Expression_91</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression92</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>飞吻</string>
			<key>localURLString</key>
			<string>Expression_92</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression93</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>跳跳</string>
			<key>localURLString</key>
			<string>Expression_93</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression94</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>发抖</string>
			<key>localURLString</key>
			<string>Expression_94</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression95</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>怄火</string>
			<key>localURLString</key>
			<string>Expression_95</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression96</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>转圈</string>
			<key>localURLString</key>
			<string>Expression_96</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression97</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>磕头</string>
			<key>localURLString</key>
			<string>Expression_97</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression98</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>回头</string>
			<key>localURLString</key>
			<string>Expression_98</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression99</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>跳绳</string>
			<key>localURLString</key>
			<string>Expression_99</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiExpression100</string>
			<key>type</key>
			<integer>2</integer>
			<key>titleString</key>
			<string>投降</string>
			<key>localURLString</key>
			<string>Expression_100</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem0</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>😄</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem1</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>😷</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem2</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>😂</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem3</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>😝</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem4</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>😲</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem5</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>😳</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem6</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>😱</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem7</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>😔</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem8</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>😉</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem9</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>😉</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem10</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>😌</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem11</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>😒</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem12</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>👿</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem13</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>👻</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem14</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>💝</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem15</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>🙏</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem16</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>💪</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem17</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>💰</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem18</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>🎂</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem19</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>🎈</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>EmojiSystem20</string>
			<key>type</key>
			<integer>1</integer>
			<key>titleString</key>
			<string>🎁</string>
		</dict>
	</array>
</dict>
</plist>
